@import 'tailwindcss';
@import './tailwind.css';

@theme {
  --color-primary: #258a8d;
  --color-primary-red: #ff8888;
  --color-secondary: #e7f4f5;
  --color-secondary-red: #ffe5dd;
  --color-text-primary: #1e1e1e;

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-monts: 'Montserrat', system-ui, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-sans);
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */

/* @layer components {
  .container {
    @apply mx-auto w-full max-w-[1440px];
  }
} */
