@import 'tailwindcss';

@layer components {
  .site-container {
    @apply mx-auto w-full max-w-[1536px] px-2.5 md:px-5 xl:px-10;
  }

  /* .custom-scroll {
    @apply scrollbar-thin scrollbar-thumb-slate-300 scrollbar-track-transparent;
  } */
}

@layer base {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 8px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}
