@import 'tailwindcss';

@layer components {
  .site-container {
    @apply mx-auto w-full max-w-[1536px] px-2.5 md:px-5 xl:px-10;
  }

  .tw-pagination :where(.ant-pagination-item) {
    @apply rounded-lg border border-gray-300 text-gray-700;
  }

  .tw-pagination :where(.ant-pagination-item-active) {
    @apply !border-primary !bg-primary !text-white;
  }

  .tw-pagination :where(.ant-pagination-item:hover) {
    @apply !bg-primary border-blue-400 !text-white;
  }

  .tw-pagination :where(.ant-pagination-prev),
  .tw-pagination :where(.ant-pagination-next) {
    @apply rounded-lg border border-gray-300;
  }
}

@layer base {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 8px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}
